.App {
  background: radial-gradient(
    59.51% 59.51% at 50% 39.25%,
    #161717 0%,
    #444546 100%
  );
  min-height: 100vh;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #eceff1;
  padding-bottom: 30px;
  
}
